
<!-- <nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">about</a></li>
    <li><a routerLink="/details/:id" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">details</a></li>
    <li><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">contactus</a></li>
  </ul>
</nav> -->
<!-- <main>
  <header class="brand-name">
    <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true" />
  </header>
  <section class="content">
    <app-home></app-home>
  </section>
</main> -->
<!-- <h1>hello something {{title}}</h1> -->


<router-outlet></router-outlet>

<footer style="text-align: center;margin-top: 80px;">
  <p>all rights reserved © {{year}} by Bharat yadav  </p>
</footer>
